body {
  display: grid;
  place-content: center;
  height: 100vh;
}

main {
  display: flex;
}

main section {
  height: 100px;
  width: 100px;
  padding: 10px;
}

svg {
  width: 100%; 
  height: auto;
  preserveAspectRatio: xMidYMid meet;
}

.rain-cloud {
  stroke: black;
}

.rain {
  stroke: black;
}

.bolt {
  transform-origin: center center;
  stroke: black;
}

.cloud {
  stroke: black;
}

.sun {
  stroke: black;
}

.sun-cloud {
  stroke: black;
}

.ray {
  stroke: black;
}